services:
  web:
    image: registry.cn-hangzhou.aliyuncs.com/keyu-images/website-admin-base:latest
    container_name: admin-backend
    command: gunicorn blog.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  db:
    image: postgres:17
    container_name: website-db
    env_file:
      - ./backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
