services:
  web:
    build: ./backend
    container_name: admin-backend
    command: gunicorn blog.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  db:
    image: postgres:17
    container_name: website-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
    restart: always

volumes:
  pgdata:
