[BASIC]
# 常量命名规则
const-naming-style=UPPER_CASE

# 类命名规则
class-naming-style=PascalCase

# 类属性命名规则
class-attribute-naming-style=any

# 函数命名规则
function-naming-style=snake_case

# 方法命名规则
method-naming-style=snake_case

# 模块命名规则
module-naming-style=snake_case

# 参数命名规则
argument-naming-style=snake_case

# 属性命名规则
attr-naming-style=snake_case

# 变量命名规则
variable-naming-style=snake_case

# 好的变量名（即使不符合规则也允许）
good-names=i,j,k,ex,_,db,id,db_dependency

# 包含命名提示
include-naming-hint=no

[MESSAGES CONTROL]
# 禁用模块文档字符串警告
disable=C0114
disable=C0116
